.animate {
    height: 200px;
    background-color: red;
    animation-name: resize;
    animation-duration: 4s;
    animation-iteration-count: 3;
    animation-delay: 2s;
}

@keyframes resize {
    0%, 100% {
        width: 100%;
        transform: translateX(0);
    }
    50% {
        width: 50%;
        transform: translateX(200px);
    }
}