.flex-item {
    border: 1px solid blue;
    box-sizing: border-box;
    padding: 10px;
    background-color: cadetblue;
}

.flex-item:nth-last-of-type(2n) {
    background-color: antiquewhite;
}

.flex-container {
    display: flex;
    flex-direction: row;
}